<section class="login-page__main__form-container">
  <h1>
    <img src="assets/images/pipeline/pipe.svg" alt="new pipe">
    لوله‌ی جدید
  </h1>
  <form class="login-form">
    <label class="login-form__label">
      <div class="login-form__label__title">نام لوله</div>
      <input class="inp login-form__label__input" type="text" />
    </label>
    <div class="login-form__submit">
      <button class="btn btn--primary btn--capsole btn--wide">اضافه کن</button>
    </div>
  </form>
</section>    
