<div class="scrollable-list">
  <div class="action-item-root">
    <app-action-item [shouldShowArrowAtTheEnd]="true"></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
    <app-action-item></app-action-item>
  </div>
</div>
