<section class="page">
  <div class="page-header">
    <h1>داده‌ها</h1>
    <button (click)="addDataTapped()">
      <fa-icon [icon]="faPlus"></fa-icon>
      <p>      افزودن داده
      </p>
    </button>
  </div>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">شناسه</div>
      <div class="col col-2">نام داده</div>
      <div class="col col-3">نوع</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="شناسه">۱</div>
      <div class="col col-2" data-label="نام داده">داده‌ی نخست</div>
      <div class="col col-3" data-label="نوع">CSV</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="شناسه">۲</div>
      <div class="col col-2" data-label="نام داده">داده‌ی دوم</div>
      <div class="col col-3" data-label="نوع">SQL Server</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="شناسه">۳</div>
      <div class="col col-2" data-label="نام داده">داده‌ای جدید</div>
      <div class="col col-3" data-label="نوع">SQL Server</div>
    </li>
  </ul>
</section>
