<section class="login-page__main__form-container">
  <h1>
    <fa-icon [icon]="faCogs" [styles]="{'vertical-align':'middle'}" size="xs"></fa-icon>
    ویرایش عملیات
  </h1>
  <form class="login-form">
    <label class="login-form__label">
      <div class="login-form__label__title">نوع</div>
      <select>
        <option value="افزودن">افزودن</option>
        <option value="کاستن">کاستن</option>
      </select>
    </label>
    <div class="login-form__submit">
      <button class="btn btn--primary btn--capsole btn--wide">ثبت تغییرات</button>
    </div>
  </form>
</section>
