<section class="login-page__main__form-container">
  <h1>
    <fa-icon [icon]="faCogs" [styles]="{'vertical-align':'middle'}" size="xs"></fa-icon>
    ویرایش عملیات
  </h1>
  <form class="login-form">
    <label class="login-form__label">
      <div class="login-form__label__title">نوع</div>
      <select name="selectedType" [(ngModel)]="selectedType">
        <option>الحاق</option>
        <option>جمع‌آوری</option>
        <option>فیلتر</option>
        <option>محاسبه</option>
      </select>
    </label>

    <div *ngIf="selectedType == 'فیلتر'">
      <label class="login-form__label">
        <div class="login-form__label__title">نام ستون</div>
        <input class="inp login-form__label__input" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="filter_columnName"/>
      </label>

      <label class="login-form__label">
        <div class="login-form__label__title">برابر با</div>
        <input class="inp login-form__label__input" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="filter_columnEqual"/>
      </label>

      <label class="login-form__label">
        <div class="login-form__label__title">بزرگ‌تر از</div>
        <input class="inp login-form__label__input" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="filter_columnMore"/>
      </label>

      <label class="login-form__label">
        <div class="login-form__label__title" >کوچک‌تر از</div>
        <input class="inp login-form__label__input" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="filter_columnLess"/>
      </label>
    </div>

    <div *ngIf="selectedType == 'الحاق'">
      <label class="login-form__label">
        <div class="login-form__label__title">داده‌ی دوم</div>
        <select name="join_selectedData" [(ngModel)]="join_selectedData">
          <option>ارزش برندها</option>
        </select>
      </label>
    </div>

    <div *ngIf="selectedType == 'جمع‌آوری'">
      <label class="login-form__label">
        <div class="login-form__label__title">ستون گروه‌بندی</div>
        <input class="inp login-form__label__input" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="aggregate_groupColumn"/>
      </label>

      <label class="login-form__label">
        <div class="login-form__label__title" >ستون جمع‌شونده</div>
        <input class="inp login-form__label__input" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="aggregate_addColumn"/>
      </label>
    </div>

    <div *ngIf="selectedType == 'محاسبه'">
      <label class="login-form__label">
        <div class="login-form__label__title">عملوند اول</div>
        <input class="inp login-form__label__input" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="calculate_firstOperand"/>
      </label>

      <label class="login-form__label">
        <div class="login-form__label__title" >عملوند دوم</div>
        <input class="inp login-form__label__input" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="calculate_secondOperand"/>
      </label>

      <label class="login-form__label">
        <div class="login-form__label__title">عملیات</div>
        <select name="calculate_type" [(ngModel)]="calculate_type">
          <option>جمع</option>
          <option>تفریق</option>
          <option>ضرب</option>
          <option>تقسیم</option>
        </select>
      </label>
    </div>

    <div class="login-form__submit">
      <button class="btn btn--primary btn--capsole btn--wide" (click)="submitTapped()">ثبت تغییرات</button>
    </div>
  </form>
</section>
