<section class="page">
  <h1>لوله‌ها</h1>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">شناسه</div>
      <div class="col col-2">نام لوله</div>
      <div class="col col-3">داده‌ی مبدا</div>
      <div class="col col-4">داده‌ی مقصد</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="شناسه">۱</div>
      <div class="col col-2" data-label="نام لوله">لوله‌ی نخست</div>
      <div class="col col-3" data-label="داده‌ی مبدا">داده‌ی نخست</div>
      <div class="col col-4" data-label="داده‌ی مقصد">داده‌ی نخست</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="شناسه">۲</div>
      <div class="col col-2" data-label="نام لوله">لوله‌ی دوم</div>
      <div class="col col-3" data-label="داده‌ی مبدا">داده‌ی دوم</div>
      <div class="col col-4" data-label="داده‌ی مقصد">داده‌ی دوم</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="شناسه">۳</div>
      <div class="col col-2" data-label="نام لوله">لوله‌ی جدید</div>
      <div class="col col-3" data-label="داده‌ی مبدا">داده‌ی نخست</div>
      <div class="col col-4" data-label="داده‌ی مقصد">داده‌ی دوم</div>
    </li>
  </ul>
</section>
