<section class="landing">
  <div class="landing__content">
    <div class="landing__text">
      <h1>داده افزار</h1>
      <p>اگر به دنبال مکانی امن برای اعمال تغییرات روی داده های خود هستید ، داده افزار
        انتخابی مطمئن و ایده آل برای شما خواهد بود.گر به دنبال مکانی امن برای اعمال تغییرات روی داده های خود هستید ، داده افزار
        انتخابی مطمئن و ایده آل برای شما خواهد بود.
      </p>
      <div class="landing__button">
        <button class="btn btn--primary">شروع کن</button>
      </div>
    </div>
    <div class="landing__pic">
     <img src="assets/images/homepage/landing-vec.svg" alt="">
    </div>
  </div>
</section>
<section class="how-works">
  <div class="how-works__content">
    <h2>چگونه کار می کند؟</h2>
  <div class="how-works__items">
    <div class="how-works__item">
      <h4>ثبت نام کنید</h4>
      <div class="how-works__pic">
        <img src="assets/images/homepage/register-vec.svg" alt="">
      </div>
    </div>
    <div class="how-works__item">
      <h4>ویرایش کنید</h4>
      <div class="how-works__pic">
        <img src="assets/images/homepage/edit-data-vec.svg" alt="">
      </div>
    </div>
    <div class="how-works__item">
      <h4>خروجی بگیرید</h4>
      <div class="how-works__pic">
        <img src="assets/images/homepage/save-data-vec.svg" alt="">
      </div>
    </div>
  </div>
  </div>
</section>
<section class="about" id="section-about">
 <div class="about__content">
  <div class="about__text">
    <h2>درباره داده افزار</h2>
    <p>اگر به دنبال مکانی امن برای اعمال تغییرات روی داده های خود میگردید ، داده افزار
      انتخابی مطمئن و ایده آل برای شما خواهد بود.
      اگر به دنبال مکانی امن برای اعمال تغییرات روی داده های خود میگردید ، داده افزار
      انتخابی مطمئن و ایده آل برای شما خواهد بود.
    </p>
  </div>
  <div class="about__pic">
    <img src="assets/images/homepage/about-vec.svg" alt="">
  </div>
 </div>
</section>
