<div class="pipeline">
    <div class="pipeline__content">
        <div class="pipeline-top">
            <div class="pipeline-top__right">
                <h3>
                    <img src="assets/images/pipeline/pipe.svg" alt="pipeline">
                    {{pipe.name}}
                </h3>
            </div>
            <div class="pipeline-top__center">
                <p>
                    <span>
                        <fa-icon [icon]="faDatabase" size="xs"></fa-icon>
                        {{pipe.sourceData?.name ?? "مبدا مشخص نشده"}}
                    </span>
                    <span class="pipeline-top__center__arrow">&larr;</span>
                    <span>
                        <fa-icon [icon]="faTable" size="xs"></fa-icon>
                         {{pipe.destinationData?.name ?? "مقصد مشخص نشده"}}
                    </span>
                </p>
            </div>
            <div class="pipeline-top__left">
                <button class="pipeline-top__options">
                    <span></span>
                </button>
               <button class="pipeline-top__run" (click)="runPipeTapped()">
                    <span></span>
                </button>
            </div>
        </div>
        <div class="pipeline__action-details">

        </div>
        <div class="pipeline__actions-list">
          <app-actions-list></app-actions-list>
        </div>
        <div class="pipeline__demo-table">
          <app-data-table></app-data-table>
        </div>
    </div>
</div>
