<div class="pipeline">
    <div class="pipeline__content">
        <div class="pipeline-top">
            <div class="pipeline-top__right" id="top-right-pipename">
                <h3>
                    <img src="assets/images/pipeline/pipe.svg" alt="pipeline">
                    {{pipe.name}}
                </h3>
            </div>
            <div class="pipeline-top__center">
                <p>
                    <span>
                        <fa-icon [icon]="faDatabase" size="xs"></fa-icon>
                        {{pipe.sourceData?.name ?? "تولیدکنندگان موبایل"}}
                    </span>
                    <span class="pipeline-top__center__arrow">&larr;</span>
                    <span>
                        <fa-icon [icon]="faTable" size="xs"></fa-icon>
                         {{pipe.destinationData?.name ?? "پایگاه داده‌ی مقصد"}}
                    </span>
                </p>
            </div>
            <div class="pipeline-top__left">
                <button class="pipeline-add-button" (click)="removeLastActionTapped()" *ngIf="pipe.actions.length > 0">
                    <fa-icon [icon]="faMinus"></fa-icon>
                </button>
                
                <button class="pipeline-add-button" (click)="addActionTapped()">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </button>
                
                <button class="pipeline-add-button" (click)="runPipeTapped()">
                    <fa-icon [icon]="faPlay"></fa-icon>
                </button>
                
            </div>
        </div>
        <div class="pipeline__action-details">

        </div>
        <div class="pipeline__actions-list">
          <app-actions-list [actions]="pipe.actions"></app-actions-list>
        </div>
        <div class="pipeline__demo-table">
          <app-data-table [originalActions]="this.pipe.actions"></app-data-table>
        </div>
    </div>
</div>
