<div class="data-table-root">
  <!-- <button (click)="reloadTapped()">بارگذاری</button> -->
  <table id="data-table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>شناسه</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="vendor">
      <th mat-header-cell *matHeaderCellDef>سازنده</th>
      <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>سال</th>
      <td mat-cell *matCellDef="let element"> {{toFarsiNumber(element.year)}} </td>
    </ng-container>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>تعداد فروش</th>
      <td mat-cell *matCellDef="let element"> {{formatNumber(element.number)}} </td>
    </ng-container>

    <ng-container matColumnDef="revenue" *ngIf="displayedColumns.includes('revenue')">
      <th mat-header-cell *matHeaderCellDef>میزان درآمد</th>
      <td mat-cell *matCellDef="let element"> {{formatNumber(element.revenue)}} </td>
    </ng-container>

    <ng-container matColumnDef="calculation_result" *ngIf="displayedColumns.includes('calculation_result')">
      <th mat-header-cell *matHeaderCellDef>حاصل محاسبه</th>
      <td mat-cell *matCellDef="let element"> {{toFarsiNumber(element.calculation_result)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <div class="bar-chart-holder">
    <ngx-charts-bar-vertical 
      [view]="[1000,400]"
      [results]="chartDataSource"
      [xAxisLabel]="'سازنده'"
      [legendTitle]="'مقایسه'"
      [yAxisLabel]="'مقدار'"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [xAxis]="true"
      [yAxis]="false"
      [gradient]="true">
    </ngx-charts-bar-vertical>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <div class="pie-chart-holder">
    <ngx-charts-pie-chart 
    [results]="chartDataSource"
    [legend]="false"
    [legendTitle]="'مقایسه'" 
    [view]="[1000,300]"
    >
    </ngx-charts-pie-chart>
  </div>
</div>
