<nav class="nav" *ngIf="showNav">
  <div class="nav__content">
    <div class="nav__logo">
      <a routerLink="/">داده‌افزار</a>
    </div>
    <div class="nav__text">
      <a routerLink="/">خانه</a>
      <a *ngIf="loginStatusService.isLoggedIn()" routerLink="data">داده‌ها</a>
      <a *ngIf="loginStatusService.isLoggedIn()" routerLink="pipes">لوله‌ها</a>
      <a routerLink="/" fragment="section-about" id="link-about">درباره‌ی ما</a>
      <a *ngIf="!loginStatusService.isLoggedIn()" routerLink="login">ورود</a>
      <a *ngIf="!loginStatusService.isLoggedIn()" routerLink="">ثبت‌نام</a>
      <a *ngIf="loginStatusService.isLoggedIn()" routerLink="" (click)="loginStatusService.logout()">خروج</a>
    </div>
  </div>
</nav>
