<nav class="nav">
  <div class="nav__content">
    <div class="nav__logo">
      <p>لوگو</p>
    </div>
    <div class="nav__text">
      <a *ngIf="loginStatusService.isLoggedIn()" routerLink="">داده‌ها</a>
      <a *ngIf="loginStatusService.isLoggedIn()" routerLink="">لوله‌ها</a>
      <a routerLink="">درباره‌ی ما</a>
      <a *ngIf="!loginStatusService.isLoggedIn()" routerLink="">ورود</a>
      <a *ngIf="!loginStatusService.isLoggedIn()" routerLink="">ثبت‌نام</a>
      <a *ngIf="loginStatusService.isLoggedIn()" routerLink="" (click)="loginStatusService.logout()">خروج</a>
    </div>
  </div>
</nav>
