@media only screen and (max-width: 36rem) {
     // --- navbar
     .nav{
         &__content{
             justify-content:center !important;
             width:100% !important;
         }
         &__logo{
             display: none !important;
         }
         &__text{
             a#link-about{
                 display: none !important;
             }
         }

     }
    // --- homepage
    .landing,.about,.how-works{
        h2{
            font-size: 2.5rem !important;
        }
    }
}
@media only screen and (max-width: 23.25rem) {
     // --- navbar
     .nav{
        &__text{
            flex-wrap: wrap;
            gap : 1rem !important;
            a{
                font-size: 100% !important;
            }
        }
    }
    // --- footer
    footer{
        padding-inline: 1rem !important;
       p{
        font-size: .9rem !important;
       }
    }
}
